<%= form_for @game do |f| %>
  <div class="form-group">
    <%= f.label :notation %>
    <%= f.text_field :notation, class: "form-control" %>
  </div>

  <% @players.each do |player| %>
    <%= label_tag player.name %>
    <%= check_box_tag "player[#{player.name}, #{player.rating}]"%>
  <% end %>
<br>
  <%= f.submit "Add" %>
<% end %>
