<h2>Page for <%= @player.name %></h2>
<h4>rating: <%= @player.rating %></h4>


<h5><%= link_to 'Edit this player', edit_player_path(@player), id: "edit_player_info", remote: true %></h5>
<h5><%= link_to 'Delete this player', player_path(@player), data: {confirm: "Are You Sure?", method: "delete"} %></h5>

<br>
<%= link_to 'Add a new game', new_game_path, id: "new_game_link", remote: true %>

<div id="show_game_link">

</div>
<br>
<br>

<% @player.games.each do |game| %>
  <%= game.notation %>
<% end %>



<div id="board1" style="width: 400px"></div>
<input type="button" id="startBtn" value="Start" />
<input type="button" id="clearBtn" value="Clear" />
<p>Status: <span id="status"></span></p>
<p>FEN: <span id="fen"></span></p>
<p>PGN: <span id="pgn"></span></p>

<script>
  var board1 = ChessBoard('board1', {
    draggable: true,
    dropOffBoard: 'trash',
    sparePieces: true
  });

  $('#startBtn').on('click', board1.start);
  $('#clearBtn').on('click', board1.clear);
</script>
